body{
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    background-color: #66b2ff;
font-family: Arial, Helvetica, sans-serif;
color:yellow;
}
.header{
    display:flex;
    justify-content: space-around;
}
.header img{
    width:200px;
}
.nav{
    display:flex;
    justify-content: space-around;
}
.nav h2{
    font-size:16px;
    text-align:center;
}
.nav h2:hover{
color:red;
}
h1:hover{
color:red;
}
.content{
    display:flex;
    text-align:center;
    justify-items:center;
}
.images{
    display:flex;
    justify-content: space-around;
    align-items:center;
}
.images img{
    padding:1rem;
}
.work-experience{
background-color:#9999ff;
}
.travel{
background-color:#66ffff;
color:black;
}
.contact{
background-color:#66ff66;
color:black;
}
.trickshots{
background-color:#ffff66;
color:black;
}
@keyframes moveBasketball {
  from {
    transform:translateY(0px);
  }
  to {
    transform:translateY(200px);
  }
}

.basketball img{

width: 50px;
  animation: moveBasketball 2s infinite alternate;
}

@media (min-width:1000px){

    p{
        font-size:24px;
    }
    .content{
        font-size:24px;
    }
    .nav h2{
        font-size:24px;
    }
}
    